<!DOCTYPE html>
<html lang="ko">

<head>
    <div id="head"></div>
    <link href="/css/public.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="../vendor/select2/select2.css" rel="stylesheet">
    <link href="../vendor/select2/select2-bootstrap.css" rel="stylesheet">
</head>

<body>

    <body>
        <div id="app"></div>
        <div id="loading-view" class="hide">
            <img src="/img/loading.gif" />
            <br />
            <span id="percent"></span>
        </div>
    </body>
    
    <!-- jQuery -->

    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <!-- <script src="/vendor/metisMenu/metisMenu.min.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <!-- <script src="/dist/js/sb-admin-2.js"></script> -->

    <script src="/vendor/select2/select2.min.js"></script>
    <script src='/fullcalendar/lib/moment.min.js'></script>
    <script src="/js/bundle/main.js"></script>
    
</body>

</html>